<div class="list-certificate mt-4 owl-carousel owl-theme owl-loaded owl-drag">

    <div class="owl-stage-outer">
        <div class="owl-stage"></div>
    </div>
    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i
                class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i
                class="fa fa-chevron-right"></i></button></div>
    <div class="owl-dots disabled"></div>

</div>